<div class="dark-mode container position-relative zindex-2 pt-2 pb-2">
    <!-- Nav + Switcher-->
    <div class="border-bottom"></div>
    <!-- Logo + Socials + Cards-->
    <div class="d-sm-flex align-items-center pt-2">
        <div class="container fs-sm text-center">
            <span class="text-muted"
                >&copy; ResearchFreak. All rights reserved.</span
            >
        </div>
    </div>
</div>
<div class="pt-5 pt-lg-0"></div>
