<div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    role="dialog"
    data-focus-input="#search"
>
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header d-block position-relative border-0 pb-3">
                <form
                    class="position-relative w-100 mt-2 mb-4"
                    action="/user/search"
                    method="POST"
                >
                    <button
                        class="btn-close position-absolute top-50 end-0 translate-middle-y m-0 me-n1"
                        type="reset"
                        data-bs-dismiss="modal"
                    ></button
                    ><i
                        class="ai-search fs-xl position-absolute top-50 start-0 translate-middle-y ms-3"
                    ></i>
                    <input
                        class="form-control form-control-lg px-5"
                        type="search"
                        name="search"
                        placeholder="Type to search"
                        data-focus-on-open='["modal", "#searchModal"]'
                    />
                </form>
                <div class="fs-xs fw-medium text-muted text-uppercase">
                    Suggestions
                </div>
            </div>
            <div class="modal-body pt-3"></div>
        </div>
    </div>
</div>
